---
import Layout from "@/layouts/Layout.astro"
import { allPlaylists, songs } from "@/lib/data"
import { CardPlayButton } from "@/components/CardPlayButton"
import MusicListTable from "@/components/MusicListTable"
import NavControl from "@/components/NavControl"

const playlist = allPlaylists.find(playlist => playlist.id === Astro.params.id)

const songsInPlaylist = songs.filter(song => song.albumId === playlist?.albumId)
---

<Layout title="Spotify clone">
	<div
		id="playlist-container"
		class="relative flex flex-col h-full overflow-x-hidden"
		transition:name=`playlist ${playlist?.id} box`
	>
		<div class="relative h-full z-10 px-4 md:px-8 pt-2 sm:pt-4" style=`background-color: ${playlist?.color.dark}`>
			<NavControl />
			<header class="flex flex-col sm:flex-row items-center sm:items-start gap-8 mt-10">
				<picture class="aspect-square w-52 h-52 flex-none">
					<img
						src={playlist?.cover}
						alt={playlist?.title}
						class="object-cover w-full h-full shadow"
						transition:name=`playlist ${playlist?.id} image`
					/>
				</picture>
				<div class="flex flex-col justify-between  items-center sm:items-start">
					<h2 class="flex flex-1 items-end">Playlist</h2>
					<div>
						<h1 class="text-4xl font-bold block text-white text-center sm:text-start">
							{playlist?.title}
							<span transition:name=`playlist ${playlist?.id} title`></span>
						</h1>
					</div>

					<div class="flex items-end">
						<div class="text-sm text-gray-300 font-normal">
							<div transition:name=`playlist ${playlist?.id} artists`>
								{playlist?.artists.join(", ")}
							</div>
							<p class="mt-1 text-center sm:text-start">
								<span>{songsInPlaylist.length} canciones</span>
							</p>
						</div>
					</div>
					<div class="mt-4">
						<CardPlayButton client:load id={playlist?.id} size="large" />
					</div>
				</div>
			</header>
			<section class="py-4 md:py-6">
				<MusicListTable songs={songsInPlaylist} playlist={playlist} client:load />
			</section>
			<div
				class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-10"
			>
			</div>
		</div>
	</div>
</Layout>
